<div class="header">
  <h1>
    <%= link_to "Library App", root_path %>
  </h1>
</div> <!-- header -->

<div class="main-menu navbar navbar-inner">
  <ul class="nav">
    <li><%= link_to "Home", root_path %></li>
    <li><%= link_to "About", about_path %></li>
    <li><%= link_to "Books", books_path %></li>
    <li><%= link_to "Add Book", new_book_path %></li>
  </ul>
</div> <!-- main-menu -->
